<!DOCTYPE html>
<html ng-app="Bookmarks">
<head>
  <meta charset="utf-8">
  <title>AngularJS CRUD</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="MainController">
  <div class="wrapper">
    <header class="header header-fixed navbar container-fluid">
      <div class="row">
        <div class="brand col-sm-3">
          <a href="#" class="navbar-brand">
            <i class="glyphicon glyphicon-heart-empty"></i>
            <span class="heading-font">Bookmarks App</span>
          </a>
        </div>
      </div>
    </header>

    <div class="box">
      <div class="row">

        <div class="col-sm-3" id="sidebar">
          <p class="nav-title">
            Categories
            <a href="#" class="pull-right"><i class="glyphicon glyphicon-folder-open"></i></a>
          </p>
          <ul class="nav">
            <li ng-repeat="category in categories" ng-class="{active: isCurrentCategory(category)}">
              <a href="#" ng-click="setCategory(category)"><i class="glyphicon glyphicon-tags"></i>{{category}}</a>
            </li>
          </ul>
        </div>

        <div class="column col-sm-9" id="main">
          <div class="padding">
            <div class="full col-sm-9">
              <h2>
                Category: {{currentCategory}}
                <a href="#" class="btn btn-primary btn-xs pull-right">
                  <i class="glyphicon glyphicon-plus-sign"></i> New Bookmark
                </a>
              </h2>
              <ul>
                <li ng-repeat="bookmark in bookmarks | filter: {category: currentCategory}">
                  <p>
                    <a href="{{bookmark.url}}">{{bookmark.name}}</a>
                    <i class="glyphicon glyphicon-trash"></i>
                    <i class="glyphicon glyphicon-pencil"></i><br>
                    <small>{{bookmark.url}}</small>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
